<div class="btn-group" id="<%=id%>">
  <%_.each(buttons,function(button,index){%>
  	 <%if(button.menu || button.hasMenu){%>
  	 <div class="btn-group" role="group">
	    <%if(button.split){%>
	    <a href="javascript:void(0);" class="btn btn-sm <%=button.cls?button.cls:'btn-default'%>"><%=button.name%></a>
		<a href="javascript:void(0);" data-index='<%=index%>' class="btn-action btn btn-sm <%=button.cls?button.cls:'btn-default'%> dropdown-toggle">
		    <span class="caret"></span>
		    <span class="sr-only">Toggle Dropdown</span>
		</a>
	    <%}else{%>
	    <a data-index='<%=index%>' href="<%=_.isString(button.fn)?button.fn:'javascript:void(0)'%>" class="btn btn-action btn-sm <%=button.cls?button.cls:'btn-default'%> dropdown-toggle">
	    	<%=button.name%>
	        <span class="caret"></span>
	    </a>
	    <%}%>
	    <div class="dropdown-menu">
	    	这个是自定义的区域信息
	    </div>
	 </div>
  	 <%}else{%>
  	 <a href="<%=_.isString(button.fn)?button.fn:'javascript:void(0);'%>" data-index='<%=index%>' class="btn btn-action btn-sm <%=button.cls?button.cls:'btn-default'%>"><%=button.name%></a>
  	 <%}%>
  <%})%>
</div>